body {
	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;
	background:
	/*top, transparent #92C7B0*/
	linear-gradient(
			rgba(0 ,0 ,0 ,0.75),
			rgba(255, 255, 255, 0.25)
		    ),
	/*bottom, image*/
	url("../images/rb.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display:flex;
	align-items: center;
	width: 75%;
}

/*overview*/

.overview{
	padding: 3rem;
}

.fullname{
	font-weight:  300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title{
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr{
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

.description{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;

}
/*works/projects*/
.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.social-media a{
	color: #efefef;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
}

/*profile: image-container*/
.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin:auto;
	display: block;
}

/*media queries (responsiveness*/
@media (max-width: 980px){

	.container {
		flex-direction: column;
	}

	.image-container {
		width: 100%;
		padding: 3rem 0 0;
	}

	.overview{
		order:1;
		padding:3rem 0;
	}

	main {
		background: 
		/*top,transparent #9C27B0*/
		linear-gradient(
			rgba(240 ,128 ,128 ,0.5),
			rgba(184, 184, 184, 0.5)
			),
		/*bottom,image*/
		url("../images/blue.jpg")
	}

	.fullname,
	.job-title {
		text-align: center;
	}

	.job-title {
		font-weight: bolder;
	}

	.description {
		text-align: center;
	}

	hr {
		margin: auto;
	}

	.social-media{
		text-align: center;
		margin-top: 3rem;
	}

	.ad{
		text-align: center;
	}

	.works {
		text-align: center;
	}
}